################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/qotd.client/obj/Debug
/Qotd.Server/bin/Debug/net8.0
/Qotd.Server/obj
