################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/qotd.client/obj/*
/Qotd.Server/bin/*
/Qotd.Server/obj/*
/Qotd.Application/bin/*
/Qotd.Application/obj/*
/Qotd.Infrastructure/bin/*
/Qotd.Infrastructure/obj/*
/test/Qotd.UnitTests/bin/*
/test/Qotd.UnitTests/obj/*
